/* Body styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #0e0e0e;
    color: #f2f2f2;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 999;

	background-color: #f4c402;
	padding: 20px;
	text-align: center;
    color: #0e0e0e;
    margin-bottom: 120px;
}

header h1 {
	margin-top: 0;
	font-size: 36px;
}

/* Main styles */
main {
	padding: 22px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about{
    padding: 20px;
    margin-top: 160px;
}

p {
    font-weight: normal;  
}

.containerAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .containerAbout div {
    width: 45%;
    text-align: justify;
  }
  
  .containerAbout img {
    width: 45%;
    height: auto;
  }
  

.task-list {
	flex: 0 0 45%;
}

.task-list ul {
	list-style-type: disc;
	margin-left: 20px;
}

.image-list {
	flex: 0 0 45%;
}

.image-list img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px auto;
}

/* Footer styles */
footer {
	background-color: #f2f2f2;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: #666;
}
